.gradient-box {
  background: linear-gradient(0deg, var(--color-secondary), var(--color-primary));
  background-size: 600% 600%;

  animation: gradientAnimation 14s ease infinite;
}

@keyframes gradientAnimation {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}